body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
.mySlides {display:none;}
.slides{
  text-align: center;
}


body{
    background-color:white ;
    font-family: Arial;
    margin: 0;
    overflow: scroll;
  }


  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }


  .about img{
    box-shadow:5px 3px 3px 5px rgb(5, 43, 2);

  }

  
  
  .h2{
    text-align: center;
  }
  
.header{
  display: block;
  text-align: center;
}
  
  .z{
    -webkit-filter:sepia(50%);
  filter:sepia(50%);
  }

.zz{ -webkit-filter:invert(20%);
filter:invert(100%);

}

.zzz {
  -webkit-filter:saturate(50%);
  filter:saturate(40%);
}

.zzzz{
  -webkit-filter:sepia(50%);
  filter:sepia(100%);
}
.zzzzz{
  -webkit-filter:hue-rotate(45deg);
  filter:hue-rotate(45deg);
}

.zzzzzzz{
  -webkit-filter:grayscale(50%);
  filter:grayscale(50%);
}
.filted{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: groove;
}

.column {
  float: left;
  width: 40;
  padding: 2px;
}

.filted ::after{

  content: "";
  clear: both;
  display: table;
}
/*hoover images*/
.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}
.box {
  flex: 1;
  overflow: hidden;
  transition: .9s;
  margin: 0 1%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}
.box > img {
  width: 100%;
  height: 60%;
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size:15px;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}



 